.friendAvatar {
   width: 25px;
   margin-right: .25rem;
}

.dialog {
   display: flex;
   align-items: center;
   margin-bottom: .5rem;
}

.dialog a {
   text-decoration: none;
   color: #242426;
   font-weight: 500;
}

.dialog a.active {
   color: #fd4902;
}