.header {
   grid-area: header;
   background-color: #ffde4d;
   position: fixed;
   top: 0;
   width: 100%;
}

.container {
   height: 54px;
   display: flex;
   justify-content: space-between;
   max-width: 100vh;
   width: 100%;
   margin: 0 auto;
   align-items: center;
}

.header img {
   height: 3em;
   width: 3em;
}

.loginBlock a{
   text-decoration: none;
   font-size: 20px;
}

.authUserInfo {
   display: flex;
   align-items: center;
}